// sass --watch style.scss assets/stylesheets/style.css

* {
    margin: 0;
}

body {
    max-width: 100%;
    background-color: #faf4ee;
}

.mha {
    margin: auto unset;
}

.mva {
    margin: unset auto;
}


.nav {
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 105px;
    background-image: url("/assets/img/shapes/nav-bg.svg");
    background-size: 102%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -2vw;
    display: flex;
    z-index: 2;
    justify-content: space-between;

    @media (max-width: 1280px) {
        background-size: max(108%, 1200px);
        background-position-y: -1.5vw;
    }

    .logo-box {
        margin: 1vw 4vw 1.5vw;

        .logo-img {
            width: 15vw;
            min-width: 215px;
        }
    }

    .nav-links {
        display: flex;
        margin-right: 5%;
        height: 2.5vw;
        // justify-content: space-between;
        margin-top: 1%;

        @media (max-width: 1080px) {
            margin-top: 10px;
        }

        .search {
            display: flex;
            height: 80%;
            min-height: 40px;
            border-radius: 200px;
            margin-top: .5%;

            .search-box {
                width: 10vw;
                min-width: 180px;
                background-color: #faf4ee;
                border: none;
                font-size: max(1.2vw, 16px);
                border-radius: 100px 0 0 100px;
                margin: 0;
                padding-left: 20px;

                &:focus {
                    outline: none;
                }
            }

            .search-enter {
                border: none;
                background-color: #faf4ee;
                border-radius: 0 100px 100px 0;
                cursor: pointer;

                .search-icon {
                    height: 1.4vw;
                    min-height: 30px;
                    background-color: none;
                    margin: 5px 10px 5px 0;
                }
            }
        }

        .shop {
            margin: 0 2.5vw 0 2.5vw;

            &-logo {
                height: 80%;
                min-height: 35px;
            }
        }

        .capitan {
            &-logo {
                height: 100%;
                min-height: 40px;
            }
        }

    }

    .burger-menu,
    .mob-menu {
        display: none;
    }
}

.cookie-pop {
    z-index: 10;
    position: fixed;
    bottom: 0;
    display: flex;
    height: 100px;
    width: calc(100vw - 100px);
    background-color: #085b88;
    padding: 0 50px;
    justify-content: space-between;
    box-shadow: .5px -10px 20px rgba(0, 0, 0, 0.376);

    p,
    button,
    &-buttons {
        margin: auto 0;
        font-family: proxima-nova, sans-serif;
    }

    p {
        color: #1fd4cb;
        width: 80%;

    }

    a {
        color: yellow;
        font-family: proxima-nova, sans-serif;

    }

    button {
        display: block;
        width: fit-content;
        // height: fit-content;
        // max-height: 45px
        border: none;
        background-color: #1D9B9C;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-weight: 500;
        font-size: max(1vw, 16px);
        margin: 5px;
        white-space: nowrap;

        &:active {
            color: #1D9B9C;
            background-color: white;
        }
    }

    &-buttons {
        display: flex;
    }

    @media(max-width: 940px) {
        display: block;
        // height: 150px;
        height: fit-content;
        width: calc(100vw - 40px);

        padding: 0 10px;

        p {
            width: 100%;
            padding: 10px 0 5px;
        }

        &-buttons {
            float: right;
        }
    }
}

.cookie-settings {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.545);
    top: 0;
    z-index: 11;

    .close {
        padding: 40px;
    }

    &-box {
        position: relative;
        display: block;
        margin: 100px auto;
        border: 5px solid #3183ff;
        border-radius: 30px;
        width: 50vw;
        min-width: 350px;
        padding: 20px;
        background-color: white;

        p,
        h4,
        h5,
        button {
            font-family: proxima-nova, sans-serif;
        }

        h4 {
            font-size: max(2vw, 30px);
            color: rgb(16, 16, 16);
            margin-bottom: 20px;
        }

        h5 {
            font-size: 20px;
        }

        .cookie-opt {
            border-bottom: 2px solid rgb(199, 199, 199);
            padding: 10px 0;
        }

        .cookie-flex {
            display: flex;
        }

        .checkbox {
            // height: 20px;
            width: 30px;
            margin-left: 20px;
        }

        .cookie-buttons {
            display: inline;
            margin: 20px 0 0 auto;

            button {
                font-size: clamp(15px, 1.2vw, 25px);
                padding: 10px;
                border-radius: 10px;
                margin: 10px 5px;
            }
        }

        .save {
            background-color: white;
            border: 3px solid #3183ff;
        }

        .accept {
            background-color: #3183ff;
            color: white;
            border: none;
        }
    }
}

.none {
    display: none !important;
}



.hero {
    margin-top: 4.5vw;
    padding: -5px;
    display: flex;
    position: relative;
    overflow: hidden;

    &-navigate {
        background-image: linear-gradient(150deg, rgb(227, 80, 57), rgb(208, 34, 7));
        z-index: 1;
        padding: 4% 0 2% 8%;
        margin-left: -3vw;
        width: min-content;
        min-width: 36%;
        transform: skew(-5deg);
        outline: rgba(123, 16, 0, 0.585) 20px solid;

        .a-link {
            width: min-content;
            display: block;
            color: #fae3df;
            text-decoration: none;
            font-family: lato, sans-serif;
            font-weight: 900;
            font-size: 3.5vw;
            white-space: nowrap;
            transform: skew(0deg, -6deg);
            line-height: 5vw;
            transition: 0.2s;
            margin-top: -1%;
            margin-bottom: -1%;
        }

        .hover {
            color: #31358a;
            font-size: min(4.5vw, 500px);
            transition: 0.5s;
        }
    }

    &-carousel {
        position: absolute;
        right: 0;
        background-color: rgb(0, 0, 0);
        width: 70vw;

    }

    .hero-photo {
        width: 61vw;
        position: absolute;
        right: 0;
        opacity: 0;
        z-index: -1;
        transition: 0.5s;

    }

    .active {
        opacity: 1;
        z-index: 0;
        width: 61vw;

        transition: 0.5s;
    }

    @media (max-width: 1060px) {
        .hero-navigate {
            padding-top: 7%;
        }
    }
}


.mob-hero {
    display: none;
}

.other-activities {
    max-width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;


    .sub-link {
        min-width: 210px;
        flex: 1;
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
        text-decoration: none;
        box-shadow: inset 0 0 10px #5f5f5f;
        transition: 0.2s;

        &:hover {
            transition: 0.35s;
            background-size: 180%;
        }
    }

    .yoga {
        background-image: url("/assets/img/yoga.jpeg");
    }

    .gym {
        background-image: url("/assets/img/gym.jpeg");
    }

    .parkour {
        background-image: url("/assets/img/parkour.jpeg");
    }

    .secret-circus {
        background-image: url("/assets/img/secret-circus.jpeg");
    }

    .crossfit {
        background-image: url("/assets/img/crossfit.jpeg");
    }

    .martial-arts {
        background-image: url("/assets/img/martial-arts.jpeg");
    }

    .coworking {
        background-image: url("/assets/img/coworking.jpeg");
    }

    .studio {
        background-image: url("/assets/img/studio.jpeg");
    }

    .sub-title {
        transition: 0.2s;
        margin: auto;
        text-align: center;
        overflow-wrap: break-word;
        color: #fae3df;
        background-color: #318a668c;
        width: 100%;
        font-family: lato, sans-serif;
        font-size: max(1.5vw, 15px);
        line-height: max(13vw, 110px);
        font-weight: 800;

        :hover {
            transition: 0.5s;
            font-size: 1.8vw;
            background-color: #83850baa;
        }
    }

    .left,
    .right {
        position: absolute;
        width: 8vw;
        height: max(13vw, 110px);
        border-radius: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-family: soleil, sans-serif;
        font-size: 3vw;
        font-weight: 700;

        &-arr {
            height: 40px;
            color: rgb(250, 213, 27);
            cursor: pointer;
        }
    }

    .left {
        left: 0;
        padding-right: 2vw;
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(35, 35, 35, 0.636), );
    }

    .right {
        right: 0;
        padding-left: 2vw;
        background-image: linear-gradient(270deg, rgba(35, 35, 35, 0.636), rgba(0, 0, 0, 0));
    }

}

.price {
    margin: 2% auto;
    width: clamp(60px, 80%, 1350px);
    min-width: 505px;
    box-shadow: 1vw 1vw 2vw rgba(49, 49, 49, 0.377);

    .tab {
        display: flex;
        overflow: hidden;
        background-color: #8BBAFF;

        &-links {
            font-family: soleil, sans-serif;
            font-size: clamp(28px, 2vw, 34px);
            font-weight: 500;
            padding: 24px 30px;
            color: #F3F3F3;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #0f3e85;
            }
        }
    }

    .price-h3,
    .price-desc,
    .price-info,
    .price-subtitle,
    .small-print,
    .price-li {
        color: #F3F3F3;
        font-family: soleil, sans-serif;
        font-weight: 500;
    }

    .session-entry {
        background-color: #1450AA;
    }

    .passes {
        background-color: #1D74F7;
    }

    .member {
        background-color: #3183ff;

        .light {
            background-color: #1D9B9C;
        }

        .price-plus {
            background-color: #115071 !important;
        }

        .price-family {
            background-color: #1D74F7 !important;
            padding-bottom: 1.5vw;
        }
    }

    .dropdown-price {
        display: none;
        transition: 0.3s;

        &:hover {
            background-color: #0f3e85;
        }
    }

    &-flex,
    .member-title {
        display: flex;
        justify-content: space-evenly;
    }

    &-flex {
        padding-top: 20px;
    }

    &-col {
        margin: auto 0;
        padding-bottom: 1vw;
    }

    &-subtitle {
        margin: 0 auto;
        padding: 5px 0 10px;
        width: fit-content;
    }

    
    &-info {
        text-align: center;
        font-size: 20px;
    }

    &-desc {
        padding-left: 30px;
    }
    
    &-block {
        &:first-child {
            padding-top: 200px;
        }
        display: none;
        border-top: none;
    }
    
        &-cost {
        display: flex;
        justify-content: space-between;
        // margin-left: 50px;
        font-size: 26px;
    }


    .small-print {
        font-size: 22px;
        padding: 0 20px 10px;
        text-align: center;

    }

    .member-title {
        font-size: 26px;
    }

    &-li {
        font-size: 22px;
    }
}

.centre-details {
    display: flex;

    &-text {
        flex: 1;
        background-color: #8BC6EC;
        background-image: linear-gradient(210deg, #1fd4cb 0%, #83f5f7 100%);
        padding: 3vw;

        .centre-details-title,
        .centre-details-p {
            color: rgba(61, 3, 109, 0.713);
            font-family: lato, sans-serif;
        }

        .centre-details-title {
            margin-bottom: 1.5vw;
            font-size: clamp(30px, 4vw, 60px);
        }

        .centre-details-p {
            font-size: clamp(16px, 2vw, 40px);
            font-weight: 500;
        }

        .directions {
            margin-top: 3vw;
        }
    }

    .map {

        flex: 1;
        width: 50vw;
    }
}

.contact {
    display: flex;
    background-color: #4054d5;

    &-form {
        width: 40vw;
        height: fit-content;
        padding: 4vw 5vw;
        background: rgb(49, 131, 255);
        background: linear-gradient(87deg, rgba(49, 131, 255, 1) 93%, rgba(49, 131, 255, 0) 93.1%);
        display: block;
        z-index: 1;

        &-title {
            font-family: soleil, sans-serif;
            font-weight: 600;
            font-size: clamp(34px, 3.5vw, 80px);
            color: #030b64;
            width: fit-content;
        }

        &-name,
        &-email,
        &-phone,
        &-message {
            display: block;
            margin: 15px 0;
            width: 25vw;
            border: none;
            border-radius: .5vw;
            font-size: clamp(16px, 1.4vw, 30px);
            font-family: soleil, sans-serif;
            padding: .5% 1.5%;
            box-shadow: 5px 5px 0.5vw rgba(0, 0, 0, 0.197);
        }

        &-name {
            width: 20vw;
        }

        &-message {
            width: 35vw;
            height: 20vw;
            resize: none;
            font-size: clamp(16px, 1.4vw, 30px);
        }

        &-button {
            padding: .5vw 1.5vw;
            border: none;
            border-radius: 2.5vw;
            font-family: soleil, sans-serif;
            font-size: clamp(20px, 2vw, 30px);
            font-weight: 800;
            background-image: linear-gradient(60deg, rgb(255, 247, 15), rgb(255, 208, 0));
            color: #0c1dd4;
            box-shadow: 5px 5px 0.5vw rgba(0, 0, 0, 0.197);
            display: block;

        }

        .error {
            color: rgb(118, 16, 16);
            font-family: soleil, sans-serif;
            font-weight: 700;
            display: block;
        }
    }

    &-details {
        padding: 5vw 3vw 0 2vw;

        &-email-title,
        &-phone-title,
        &-address-title {
            font-family: soleil, sans-serif;
            font-size: clamp(28px, 3.5vw, 50px);
            font-weight: 900;
            color: rgb(247, 247, 247);
        }

        &-email-address,
        &-phone-number,
        &-address-line {
            font-family: soleil, sans-serif;
            font-size: clamp(20px, 2vw, 40px);
            font-weight: 600;
            text-decoration: none;
            color: #6eeee8;
        }

        &-phone {
            margin: 1vw 0;
        }

        &-address {
            margin: 0 0 0 15vw;

            &-title,
            &-line {
                text-align: right;
                margin-left: auto;
            }

            &-line {
                display: flex;
                width: max-content;
            }
        }

    }
}

.footer {
    // height: 10vw;
    background-color: #0a0961;
    padding: 10px 30px 15px;
    display: flex;
    justify-content: space-between;

    &-a {
        color: white;
        text-decoration: none;
        display: block;
        padding: .2vw 0;
        font-family: soleil, sans-serif;
        font-size: clamp(16px, 1.3vw, 20px);
        cursor: pointer;
        width: fit-content;
    }

    &-fb,
    &-insta {
        height: 40px;
        margin: 10px;
    }
}

@media (max-width: 1008px) {
    .nav {
        background-size: max(108%, 1200px) 110px;

        .nav-links {
            display: none;
        }

        .burger-menu {
            display: block;
            // width: 2vw;
            margin-right: 5%;
            // justify-content: space-between;
            padding-top: 15px;

            &-img {
                width: 7vw;
                min-width: 30px;
                max-width: 40px;
            }
        }

        .mob-menu {
            position: static;
            top: 0;
            display: flex;
            height: 100vh;
            font-size: 30px;

            &-background {
                position: fixed;
                top: 0;
                left: 0;
                background-color: #000000b3;
                width: 70vw;
                height: 100%;
                z-index: 6;
            }

            &-items {
                z-index: 6;
                position: fixed;
                width: 30vw;
                min-width: 150px;
                height: 100%;
                background-color: #1D9B9C;
                right: 0;
                padding: 20px 30px;

                .close {
                    text-align: right;
                    margin-bottom: 2vw;
                }

                a,
                .mob-menu-droplist-head {
                    font-family: proxima-nova, sans-serif;
                    font-weight: 500;
                    text-decoration: none;
                    // font-size: 4.5vw;
                    color: #faf4ee;
                    display: block;
                }

                &-bottom {
                    position: fixed;
                    bottom: 0;
                    margin: 0 20px 20px;

                }
            }

            &-droplist {
                &-head {
                    margin: auto 0;
                    display: block;
                }
                
                &-par {
                    display: flex;
                }

                &-arr {
                    width: 10px;
                    padding: 0 15px;
                }
                &-items {
                    margin: 0;
                    padding-left: 15px;
                    background-color: #2a8585;
                }

                .rotate {
                    transform: rotate(90deg);
                }
            }

            .mob-shop {
                height: 6vw;
            }
        
            .mob-capitan {
                align-self: center;
                height: max-content;
        
                &-img {
                    height: 40px;
                }
        
                &-text {
                    font-family: proxima-nova, sans-serif;
                    font-weight: 500;
                    text-decoration: none;
                    font-size: 4.5vw;
                    color: #faf4ee;
                }
            }
        
            .mob-socials {
                display: flex;
        
            }
        
            .mob-facebook,
            .mob-instagram {
                height: 35px;
                margin: 0 15px 0 0;
            }
        }

    }

    .hero {
        margin-top: 60px;

        &-navigate {
            outline-width: 2vw;
        }
    }

    .other-activities {
        display: none;
        max-width: 100%;
        overflow: initial;
        flex-wrap: wrap;


        .sub-link {
            min-width: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            text-decoration: none;
            box-shadow: none;
            transition: 0.2s;

            &:hover {
                transition: 0.35s;
                background-size: 120%;
            }
        }

        .sub-title {
            font-family: lato, sans-serif;
            font-size: max(1.5vw, 15px);
            font-weight: 800;
            line-height: max(5vw, 55px);

            :hover {
                transition: 0.5s;
            }
        }

        .left,
        .right {
            display: none;
        }
    }

    .price {
        margin: 10px auto 15px;
        width: clamp(60px, 90%, 2030px);

        .tab {
            display: none;
            &-links {
                font-size: 24px;
                padding: 10px 20px;
            }
        }

        .drop-arr {
            height: 25px;
            // height: 10px;
            margin-left: auto;
            padding: 10px;
            transform: rotate(180deg);
            transition: .0s;

            &:focus {
                transform: rotate(90deg);
            }
        }

        .dropdown-price {
            display: flex;
            width: 100%;
            border: none;
            line-height: 25px;

            h4 {
                margin: auto 0;
            }
        }

        &-block {
            display: none;
            border-top: none;
            display: block;
        }

        &-flex {
            display: flex;
            justify-content: baseline;
            padding-top: 5px;
        }

        &-h3 {
            padding-right: 20px;
        }
        
        &-col {
            margin: auto 0;
            padding: 0;
            .price-info:first-of-type {
                margin-top: 10px;
            }
        }

        &-desc {
            max-width: 85%;
            text-align: center;
            line-height: initial;
        }


        .small-print {
            font-size: 12px;
            padding: 5px 0 10px;
        }

        &-cost {
            width: 100%;
            margin: 0 auto;
            font-size: 16px;
        }

        &-li {
            font-size: 16px;
            // margin-left: 5%;
        }

        &-row {
            margin: 0;

            .price-h3 {
                text-align: center;
                font-size: 20px;
            }

            .price-info:first-of-type {
                margin-top: 10px;
            }
        }

        .passes {
            .price-cost {
            justify-content: space-around;
            width: 90%;
            }

            .price-info {
                padding: 0 15px;
            }
        }

        .active {
            :last-child {
                rotate: 90deg;
                transition: 0.3s;
            }
        }

        .member{
            &-title {
                padding: 10px 5px 5px;
                font-size: 26px !important;
            }
            &-type {
                padding-bottom: 15px;
            }

            .price-h3 {
                width: 100%;
                margin: 0 auto;
                font-size: 22px;
            }
        }

        .family-prices {
            .price-cost {
                .price-h3 {
                    margin: 0 !important;
                }
            }
        }
    }

    .contact {

        display: block;

        &-form {
            width: calc(100% - 5vw);
            padding: 4vw 0 4vw 5vw;
            background: linear-gradient(178deg, #3183ff 91%, rgba(255, 217, 49, 0) 91.2%);

            &-name {
                width: 60%;
            }

            &-email {
                width: 80%;
            }

            &-phone {
                width: 80%;
            }

            &-message {
                width: 80%;
            }

            &-button {
                padding: 1vw 5vw;
                margin-bottom: 20px;
            }

        }

        .contact-details-email-address,
        .contact-details-phone-number {
            font-size: 20px;
        }

        &-details {
            padding: 5%;

            &-address {
                margin: -50px 0 0;
            }
        }



    }
}

// @media (max-width: 610px) {

// .price {

//     &-info {
//         max-width: 480px;
//         margin: 0 auto;
//         width: 90%;
//     }

// }

// .standard .price-flex {
//     display: block !important;
//     margin-left: 30px;
// }

// .member {
//     &-title {
//         font-size: 20px !important;
//     }
// }

// }


@media (max-width: 640px) {
    .nav {
        background-size: max(108%, 1200px) max(80px, 18vw);

        .logo {
            &-img {
                min-width: 170px !important;
                margin-top: 3px;
            }
        }

        .mob-menu {

                font-size: 26px;
        }
    }

    .hero {
        display: none;
    }

    .mob-hero {
        display: block;

        &-img {
            width: 100%;
            margin-bottom: -10px;
        }

        &-navigate {
            // background-image: linear-gradient(150deg, rgb(227, 80, 57), rgb(208, 34, 7));
            z-index: 3;
            padding: 7px 0 0;

            .a-link {
                width: 90%;
                height: 110px;
                box-sizing: border-box;
                margin: 10px auto;
                text-decoration: none;
                display: flex;
                position: relative;
                overflow: hidden;

                .mob-nav-title {
                    display: flex;
                    width: 50%;
                    // height: 100%;
                    background-image: linear-gradient(150deg, #e35039, #d02207);
                    z-index: 1;
                    margin: 0 0 0 -5px;
                    // width: min-content;
                    min-width: 36%;
                    transform: skew(-5deg);
                    outline: rgba(123, 16, 0, 0.585) 10px solid;
                }


                .mob-nav-title-text {
                    font-size: max(5vw, 25px);
                    color: #eadcda;
                    font-family: lato, sans-serif;
                    font-weight: 900;
                    margin: auto;
                    padding-bottom: 10px;
                    width: fit-content;
                    height: fit-content;
                    position: relative;

                    transform: skew(5deg);

                }

                .mob-nav-background {
                    position: absolute;
                    z-index: 0;
                    right: 0;
                    width: 60%;
                    height: 100%;
                    background-position: right;
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
            }

            :nth-child(even) .mob-nav-title {
                height: 100%;
                position: absolute;
                right: 0;
                transform: skew(5deg);
                margin: 0 -5px 0 0;

                &-text {
                    transform: skew(-5deg);
                    right: 5px;

                }
            }

            :nth-child(even) .mob-nav-background {
                text-align: right;
                background-position: left;
                right: unset;
                left: 0;
                width: 60%;
            }

            .beginners {
                background-image: url('/assets/img/beginners.jpg');

            }

            .experienced {
                background-image: url('/assets/img/experienced.jpg');
            }

            .under18 {
                background-image: url('/assets/img/under-18.jpg');
            }
        }
    }

    .price {
        width: min(90%, 2030px);
        min-width: initial;

        .drop-arr {
            height: 25px;
            // height: 10px;
            margin-left: auto;
            padding: 10px;
            transform: rotate(180deg);
            transition: .3s;

            &:focus {
                transform: rotate(90deg);
            }
        }

        .dropdown-price {
            width: 100%;
            border: none;
            line-height: 25px;

            h4 {
                margin: auto 0;
            }
        }

        &-h3 {
            padding: 0;
        }

        &-block {
            display: none;
            border-top: none;
            display: block;
        }

        &-flex {
            display: block;
            justify-content: space-evenly;
        }
        
        &-col {
            margin: auto 0;
            padding: 0 10px;
            .price-info:first-of-type {
                margin-top: 10px;
            }
        }

        &-desc {
            max-width: 85%;
            text-align: center;
            line-height: initial;
        }


        .small-print {
            font-size: 10px;
            padding: 5px 0 10px;
        }

        &-cost {
            width: 80%;
            margin: 0 auto;
        }

        &-li {
            font-size: 16px;
            margin-left: 15%;
        }

        &-row {
            margin: 0;

            .price-h3 {
                text-align: center;
                font-size: 20px;
            }

            .price-info:first-of-type {
                margin-top: 10px;
            }
        }

        .passes {
            .price-cost {
                justify-content: space-between;
            }
        }

        .member{
            &-title {
                padding: 5px 5px 0;
                font-size: 24px !important;
            }
            &-type {
                padding-bottom: 10px;
            }

            .price-h3 {
                width: 80%;
                font-size: 20px;
            }
        }

    }

    .centre-details {
        display: block;
    }

    .contact {

        &-form {
            width: 100%;
            background: linear-gradient(177deg, #3183ff 91%, rgba(255, 217, 49, 0) 91.2%);

            &-button {
                padding: 1vw 5vw;
                margin-bottom: 20px;
            }

        }

        .contact-details-email-address,
        .contact-details-phone-number {
            font-size: 16px;
        }

        &-details {
            padding: 7%;
            &-address {
                margin: -20px 0 0;
            }
        }



    }
}