// sass --watch yoga.scss assets/stylesheets/yoga.css

.yoga {
    &-title {
        background-color: #16bcbc;
        text-align: center !important;
    }

    &-hero {
        background-color: #1685bc;
        &-img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        } 
    }
}