* {
  margin: 0;
}

body {
  max-width: 100%;
  background-color: #faf4ee;
}

.mha {
  margin: auto unset;
}

.mva {
  margin: unset auto;
}

.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  min-height: 105px;
  background-image: url("/assets/img/shapes/nav-bg.svg");
  background-size: 102%;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -2vw;
  display: flex;
  z-index: 2;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .nav {
    background-size: max(108%, 1200px);
    background-position-y: -1.5vw;
  }
}
.nav .logo-box {
  margin: 1vw 4vw 1.5vw;
}
.nav .logo-box .logo-img {
  width: 15vw;
  min-width: 215px;
}
.nav .nav-links {
  display: flex;
  margin-right: 5%;
  height: 2.5vw;
  margin-top: 1%;
}
@media (max-width: 1080px) {
  .nav .nav-links {
    margin-top: 10px;
  }
}
.nav .nav-links .search {
  display: flex;
  height: 80%;
  min-height: 40px;
  border-radius: 200px;
  margin-top: 0.5%;
}
.nav .nav-links .search .search-box {
  width: 10vw;
  min-width: 180px;
  background-color: #faf4ee;
  border: none;
  font-size: max(1.2vw, 16px);
  border-radius: 100px 0 0 100px;
  margin: 0;
  padding-left: 20px;
}
.nav .nav-links .search .search-box:focus {
  outline: none;
}
.nav .nav-links .search .search-enter {
  border: none;
  background-color: #faf4ee;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}
.nav .nav-links .search .search-enter .search-icon {
  height: 1.4vw;
  min-height: 30px;
  background-color: none;
  margin: 5px 10px 5px 0;
}
.nav .nav-links .shop {
  margin: 0 2.5vw 0 2.5vw;
}
.nav .nav-links .shop-logo {
  height: 80%;
  min-height: 35px;
}
.nav .nav-links .capitan-logo {
  height: 100%;
  min-height: 40px;
}
.nav .burger-menu,
.nav .mob-menu {
  display: none;
}

.cookie-pop {
  z-index: 10;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 100px;
  width: calc(100vw - 100px);
  background-color: #085b88;
  padding: 0 50px;
  justify-content: space-between;
  box-shadow: 0.5px -10px 20px rgba(0, 0, 0, 0.376);
}
.cookie-pop p,
.cookie-pop button, .cookie-pop-buttons {
  margin: auto 0;
  font-family: proxima-nova, sans-serif;
}
.cookie-pop p {
  color: #1fd4cb;
  width: 80%;
}
.cookie-pop a {
  color: yellow;
  font-family: proxima-nova, sans-serif;
}
.cookie-pop button {
  display: block;
  width: fit-content;
  border: none;
  background-color: #1D9B9C;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: max(1vw, 16px);
  margin: 5px;
  white-space: nowrap;
}
.cookie-pop button:active {
  color: #1D9B9C;
  background-color: white;
}
.cookie-pop-buttons {
  display: flex;
}
@media (max-width: 940px) {
  .cookie-pop {
    display: block;
    height: fit-content;
    width: calc(100vw - 40px);
    padding: 0 10px;
  }
  .cookie-pop p {
    width: 100%;
    padding: 10px 0 5px;
  }
  .cookie-pop-buttons {
    float: right;
  }
}

.cookie-settings {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.545);
  top: 0;
  z-index: 11;
}
.cookie-settings .close {
  padding: 40px;
}
.cookie-settings-box {
  position: relative;
  display: block;
  margin: 100px auto;
  border: 5px solid #3183ff;
  border-radius: 30px;
  width: 50vw;
  min-width: 350px;
  padding: 20px;
  background-color: white;
}
.cookie-settings-box p,
.cookie-settings-box h4,
.cookie-settings-box h5,
.cookie-settings-box button {
  font-family: proxima-nova, sans-serif;
}
.cookie-settings-box h4 {
  font-size: max(2vw, 30px);
  color: #101010;
  margin-bottom: 20px;
}
.cookie-settings-box h5 {
  font-size: 20px;
}
.cookie-settings-box .cookie-opt {
  border-bottom: 2px solid #c7c7c7;
  padding: 10px 0;
}
.cookie-settings-box .cookie-flex {
  display: flex;
}
.cookie-settings-box .checkbox {
  width: 30px;
  margin-left: 20px;
}
.cookie-settings-box .cookie-buttons {
  display: inline;
  margin: 20px 0 0 auto;
}
.cookie-settings-box .cookie-buttons button {
  font-size: clamp(15px, 1.2vw, 25px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 5px;
}
.cookie-settings-box .save {
  background-color: white;
  border: 3px solid #3183ff;
}
.cookie-settings-box .accept {
  background-color: #3183ff;
  color: white;
  border: none;
}

.none {
  display: none !important;
}

.hero {
  margin-top: 4.5vw;
  padding: -5px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.hero-navigate {
  background-image: linear-gradient(150deg, #e35039, #d02207);
  z-index: 1;
  padding: 4% 0 2% 8%;
  margin-left: -3vw;
  width: min-content;
  min-width: 36%;
  transform: skew(-5deg);
  outline: rgba(123, 16, 0, 0.585) 20px solid;
}
.hero-navigate .a-link {
  width: min-content;
  display: block;
  color: #fae3df;
  text-decoration: none;
  font-family: lato, sans-serif;
  font-weight: 900;
  font-size: 3.5vw;
  white-space: nowrap;
  transform: skew(0deg, -6deg);
  line-height: 5vw;
  transition: 0.2s;
  margin-top: -1%;
  margin-bottom: -1%;
}
.hero-navigate .hover {
  color: #31358a;
  font-size: min(4.5vw, 500px);
  transition: 0.5s;
}
.hero-carousel {
  position: absolute;
  right: 0;
  background-color: black;
  width: 70vw;
}
.hero .hero-photo {
  width: 61vw;
  position: absolute;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
.hero .active {
  opacity: 1;
  z-index: 0;
  width: 61vw;
  transition: 0.5s;
}
@media (max-width: 1060px) {
  .hero .hero-navigate {
    padding-top: 7%;
  }
}

.mob-hero {
  display: none;
}

.other-activities {
  max-width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.other-activities .sub-link {
  min-width: 210px;
  flex: 1;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  box-shadow: inset 0 0 10px #5f5f5f;
  transition: 0.2s;
}
.other-activities .sub-link:hover {
  transition: 0.35s;
  background-size: 180%;
}
.other-activities .yoga {
  background-image: url("/assets/img/yoga.jpeg");
}
.other-activities .gym {
  background-image: url("/assets/img/gym.jpeg");
}
.other-activities .parkour {
  background-image: url("/assets/img/parkour.jpeg");
}
.other-activities .secret-circus {
  background-image: url("/assets/img/secret-circus.jpeg");
}
.other-activities .crossfit {
  background-image: url("/assets/img/crossfit.jpeg");
}
.other-activities .martial-arts {
  background-image: url("/assets/img/martial-arts.jpeg");
}
.other-activities .coworking {
  background-image: url("/assets/img/coworking.jpeg");
}
.other-activities .studio {
  background-image: url("/assets/img/studio.jpeg");
}
.other-activities .sub-title {
  transition: 0.2s;
  margin: auto;
  text-align: center;
  overflow-wrap: break-word;
  color: #fae3df;
  background-color: #318a668c;
  width: 100%;
  font-family: lato, sans-serif;
  font-size: max(1.5vw, 15px);
  line-height: max(13vw, 110px);
  font-weight: 800;
}
.other-activities .sub-title :hover {
  transition: 0.5s;
  font-size: 1.8vw;
  background-color: #83850baa;
}
.other-activities .left,
.other-activities .right {
  position: absolute;
  width: 8vw;
  height: max(13vw, 110px);
  border-radius: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: soleil, sans-serif;
  font-size: 3vw;
  font-weight: 700;
}
.other-activities .left-arr,
.other-activities .right-arr {
  height: 40px;
  color: #fad51b;
  cursor: pointer;
}
.other-activities .left {
  left: 0;
  padding-right: 2vw;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(35, 35, 35, 0.636));
}
.other-activities .right {
  right: 0;
  padding-left: 2vw;
  background-image: linear-gradient(270deg, rgba(35, 35, 35, 0.636), rgba(0, 0, 0, 0));
}

.price {
  margin: 2% auto;
  width: clamp(60px, 80%, 1350px);
  min-width: 505px;
  box-shadow: 1vw 1vw 2vw rgba(49, 49, 49, 0.377);
}
.price .tab {
  display: flex;
  overflow: hidden;
  background-color: #8BBAFF;
}
.price .tab-links {
  font-family: soleil, sans-serif;
  font-size: clamp(28px, 2vw, 34px);
  font-weight: 500;
  padding: 24px 30px;
  color: #F3F3F3;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.price .tab-links:hover {
  background-color: #0f3e85;
}
.price .price-h3,
.price .price-desc,
.price .price-info,
.price .price-subtitle,
.price .small-print,
.price .price-li {
  color: #F3F3F3;
  font-family: soleil, sans-serif;
  font-weight: 500;
}
.price .session-entry {
  background-color: #1450AA;
}
.price .passes {
  background-color: #1D74F7;
}
.price .member {
  background-color: #3183ff;
}
.price .member .light {
  background-color: #1D9B9C;
}
.price .member .price-plus {
  background-color: #115071 !important;
}
.price .member .price-family {
  background-color: #1D74F7 !important;
  padding-bottom: 1.5vw;
}
.price .dropdown-price {
  display: none;
  transition: 0.3s;
}
.price .dropdown-price:hover {
  background-color: #0f3e85;
}
.price-flex,
.price .member-title {
  display: flex;
  justify-content: space-evenly;
}
.price-flex {
  padding-top: 20px;
}
.price-col {
  margin: auto 0;
  padding-bottom: 1vw;
}
.price-subtitle {
  margin: 0 auto;
  padding: 5px 0 10px;
  width: fit-content;
}
.price-info {
  text-align: center;
  font-size: 20px;
}
.price-desc {
  padding-left: 30px;
}
.price-block {
  display: none;
  border-top: none;
}
.price-block:first-child {
  padding-top: 200px;
}
.price-cost {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}
.price .small-print {
  font-size: 22px;
  padding: 0 20px 10px;
  text-align: center;
}
.price .member-title {
  font-size: 26px;
}
.price-li {
  font-size: 22px;
}

.centre-details {
  display: flex;
}
.centre-details-text {
  flex: 1;
  background-color: #8BC6EC;
  background-image: linear-gradient(210deg, #1fd4cb 0%, #83f5f7 100%);
  padding: 3vw;
}
.centre-details-text .centre-details-title,
.centre-details-text .centre-details-p {
  color: rgba(61, 3, 109, 0.713);
  font-family: lato, sans-serif;
}
.centre-details-text .centre-details-title {
  margin-bottom: 1.5vw;
  font-size: clamp(30px, 4vw, 60px);
}
.centre-details-text .centre-details-p {
  font-size: clamp(16px, 2vw, 40px);
  font-weight: 500;
}
.centre-details-text .directions {
  margin-top: 3vw;
}
.centre-details .map {
  flex: 1;
  width: 50vw;
}

.contact {
  display: flex;
  background-color: #4054d5;
}
.contact-form {
  width: 40vw;
  height: fit-content;
  padding: 4vw 5vw;
  background: #3183ff;
  background: linear-gradient(87deg, #3183ff 93%, rgba(49, 131, 255, 0) 93.1%);
  display: block;
  z-index: 1;
}
.contact-form-title {
  font-family: soleil, sans-serif;
  font-weight: 600;
  font-size: clamp(34px, 3.5vw, 80px);
  color: #030b64;
  width: fit-content;
}
.contact-form-name, .contact-form-email, .contact-form-phone, .contact-form-message {
  display: block;
  margin: 15px 0;
  width: 25vw;
  border: none;
  border-radius: 0.5vw;
  font-size: clamp(16px, 1.4vw, 30px);
  font-family: soleil, sans-serif;
  padding: 0.5% 1.5%;
  box-shadow: 5px 5px 0.5vw rgba(0, 0, 0, 0.197);
}
.contact-form-name {
  width: 20vw;
}
.contact-form-message {
  width: 35vw;
  height: 20vw;
  resize: none;
  font-size: clamp(16px, 1.4vw, 30px);
}
.contact-form-button {
  padding: 0.5vw 1.5vw;
  border: none;
  border-radius: 2.5vw;
  font-family: soleil, sans-serif;
  font-size: clamp(20px, 2vw, 30px);
  font-weight: 800;
  background-image: linear-gradient(60deg, #fff70f, #ffd000);
  color: #0c1dd4;
  box-shadow: 5px 5px 0.5vw rgba(0, 0, 0, 0.197);
  display: block;
}
.contact-form .error {
  color: #761010;
  font-family: soleil, sans-serif;
  font-weight: 700;
  display: block;
}
.contact-details {
  padding: 5vw 3vw 0 2vw;
}
.contact-details-email-title, .contact-details-phone-title, .contact-details-address-title {
  font-family: soleil, sans-serif;
  font-size: clamp(28px, 3.5vw, 50px);
  font-weight: 900;
  color: #f7f7f7;
}
.contact-details-email-address, .contact-details-phone-number, .contact-details-address-line {
  font-family: soleil, sans-serif;
  font-size: clamp(20px, 2vw, 40px);
  font-weight: 600;
  text-decoration: none;
  color: #6eeee8;
}
.contact-details-phone {
  margin: 1vw 0;
}
.contact-details-address {
  margin: 0 0 0 15vw;
}
.contact-details-address-title, .contact-details-address-line {
  text-align: right;
  margin-left: auto;
}
.contact-details-address-line {
  display: flex;
  width: max-content;
}

.footer {
  background-color: #0a0961;
  padding: 10px 30px 15px;
  display: flex;
  justify-content: space-between;
}
.footer-a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.2vw 0;
  font-family: soleil, sans-serif;
  font-size: clamp(16px, 1.3vw, 20px);
  cursor: pointer;
  width: fit-content;
}
.footer-fb, .footer-insta {
  height: 40px;
  margin: 10px;
}

@media (max-width: 1008px) {
  .nav {
    background-size: max(108%, 1200px) 110px;
  }
  .nav .nav-links {
    display: none;
  }
  .nav .burger-menu {
    display: block;
    margin-right: 5%;
    padding-top: 15px;
  }
  .nav .burger-menu-img {
    width: 7vw;
    min-width: 30px;
    max-width: 40px;
  }
  .nav .mob-menu {
    position: static;
    top: 0;
    display: flex;
    height: 100vh;
    font-size: 30px;
  }
  .nav .mob-menu-background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000b3;
    width: 70vw;
    height: 100%;
    z-index: 6;
  }
  .nav .mob-menu-items {
    z-index: 6;
    position: fixed;
    width: 30vw;
    min-width: 150px;
    height: 100%;
    background-color: #1D9B9C;
    right: 0;
    padding: 20px 30px;
  }
  .nav .mob-menu-items .close {
    text-align: right;
    margin-bottom: 2vw;
  }
  .nav .mob-menu-items a,
.nav .mob-menu-items .mob-menu-droplist-head {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #faf4ee;
    display: block;
  }
  .nav .mob-menu-items-bottom {
    position: fixed;
    bottom: 0;
    margin: 0 20px 20px;
  }
  .nav .mob-menu-droplist-head {
    margin: auto 0;
    display: block;
  }
  .nav .mob-menu-droplist-par {
    display: flex;
  }
  .nav .mob-menu-droplist-arr {
    width: 10px;
    padding: 0 15px;
  }
  .nav .mob-menu-droplist-items {
    margin: 0;
    padding-left: 15px;
    background-color: #2a8585;
  }
  .nav .mob-menu-droplist .rotate {
    transform: rotate(90deg);
  }
  .nav .mob-menu .mob-shop {
    height: 6vw;
  }
  .nav .mob-menu .mob-capitan {
    align-self: center;
    height: max-content;
  }
  .nav .mob-menu .mob-capitan-img {
    height: 40px;
  }
  .nav .mob-menu .mob-capitan-text {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 4.5vw;
    color: #faf4ee;
  }
  .nav .mob-menu .mob-socials {
    display: flex;
  }
  .nav .mob-menu .mob-facebook,
.nav .mob-menu .mob-instagram {
    height: 35px;
    margin: 0 15px 0 0;
  }

  .hero {
    margin-top: 60px;
  }
  .hero-navigate {
    outline-width: 2vw;
  }

  .other-activities {
    display: none;
    max-width: 100%;
    overflow: initial;
    flex-wrap: wrap;
  }
  .other-activities .sub-link {
    min-width: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    box-shadow: none;
    transition: 0.2s;
  }
  .other-activities .sub-link:hover {
    transition: 0.35s;
    background-size: 120%;
  }
  .other-activities .sub-title {
    font-family: lato, sans-serif;
    font-size: max(1.5vw, 15px);
    font-weight: 800;
    line-height: max(5vw, 55px);
  }
  .other-activities .sub-title :hover {
    transition: 0.5s;
  }
  .other-activities .left,
.other-activities .right {
    display: none;
  }

  .price {
    margin: 10px auto 15px;
    width: clamp(60px, 90%, 2030px);
  }
  .price .tab {
    display: none;
  }
  .price .tab-links {
    font-size: 24px;
    padding: 10px 20px;
  }
  .price .drop-arr {
    height: 25px;
    margin-left: auto;
    padding: 10px;
    transform: rotate(180deg);
    transition: 0s;
  }
  .price .drop-arr:focus {
    transform: rotate(90deg);
  }
  .price .dropdown-price {
    display: flex;
    width: 100%;
    border: none;
    line-height: 25px;
  }
  .price .dropdown-price h4 {
    margin: auto 0;
  }
  .price-block {
    display: none;
    border-top: none;
    display: block;
  }
  .price-flex {
    display: flex;
    justify-content: baseline;
    padding-top: 5px;
  }
  .price-h3 {
    padding-right: 20px;
  }
  .price-col {
    margin: auto 0;
    padding: 0;
  }
  .price-col .price-info:first-of-type {
    margin-top: 10px;
  }
  .price-desc {
    max-width: 85%;
    text-align: center;
    line-height: initial;
  }
  .price .small-print {
    font-size: 12px;
    padding: 5px 0 10px;
  }
  .price-cost {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
  }
  .price-li {
    font-size: 16px;
  }
  .price-row {
    margin: 0;
  }
  .price-row .price-h3 {
    text-align: center;
    font-size: 20px;
  }
  .price-row .price-info:first-of-type {
    margin-top: 10px;
  }
  .price .passes .price-cost {
    justify-content: space-around;
    width: 90%;
  }
  .price .passes .price-info {
    padding: 0 15px;
  }
  .price .active :last-child {
    rotate: 90deg;
    transition: 0.3s;
  }
  .price .member-title {
    padding: 10px 5px 5px;
    font-size: 26px !important;
  }
  .price .member-type {
    padding-bottom: 15px;
  }
  .price .member .price-h3 {
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
  }
  .price .family-prices .price-cost .price-h3 {
    margin: 0 !important;
  }

  .contact {
    display: block;
  }
  .contact-form {
    width: calc(100% - 5vw);
    padding: 4vw 0 4vw 5vw;
    background: linear-gradient(178deg, #3183ff 91%, rgba(255, 217, 49, 0) 91.2%);
  }
  .contact-form-name {
    width: 60%;
  }
  .contact-form-email {
    width: 80%;
  }
  .contact-form-phone {
    width: 80%;
  }
  .contact-form-message {
    width: 80%;
  }
  .contact-form-button {
    padding: 1vw 5vw;
    margin-bottom: 20px;
  }
  .contact .contact-details-email-address,
.contact .contact-details-phone-number {
    font-size: 20px;
  }
  .contact-details {
    padding: 5%;
  }
  .contact-details-address {
    margin: -50px 0 0;
  }
}
@media (max-width: 640px) {
  .nav {
    background-size: max(108%, 1200px) max(80px, 18vw);
  }
  .nav .logo-img {
    min-width: 170px !important;
    margin-top: 3px;
  }
  .nav .mob-menu {
    font-size: 26px;
  }

  .hero {
    display: none;
  }

  .mob-hero {
    display: block;
  }
  .mob-hero-img {
    width: 100%;
    margin-bottom: -10px;
  }
  .mob-hero-navigate {
    z-index: 3;
    padding: 7px 0 0;
  }
  .mob-hero-navigate .a-link {
    width: 90%;
    height: 110px;
    box-sizing: border-box;
    margin: 10px auto;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .mob-hero-navigate .a-link .mob-nav-title {
    display: flex;
    width: 50%;
    background-image: linear-gradient(150deg, #e35039, #d02207);
    z-index: 1;
    margin: 0 0 0 -5px;
    min-width: 36%;
    transform: skew(-5deg);
    outline: rgba(123, 16, 0, 0.585) 10px solid;
  }
  .mob-hero-navigate .a-link .mob-nav-title-text {
    font-size: max(5vw, 25px);
    color: #eadcda;
    font-family: lato, sans-serif;
    font-weight: 900;
    margin: auto;
    padding-bottom: 10px;
    width: fit-content;
    height: fit-content;
    position: relative;
    transform: skew(5deg);
  }
  .mob-hero-navigate .a-link .mob-nav-background {
    position: absolute;
    z-index: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .mob-hero-navigate :nth-child(even) .mob-nav-title {
    height: 100%;
    position: absolute;
    right: 0;
    transform: skew(5deg);
    margin: 0 -5px 0 0;
  }
  .mob-hero-navigate :nth-child(even) .mob-nav-title-text {
    transform: skew(-5deg);
    right: 5px;
  }
  .mob-hero-navigate :nth-child(even) .mob-nav-background {
    text-align: right;
    background-position: left;
    right: unset;
    left: 0;
    width: 60%;
  }
  .mob-hero-navigate .beginners {
    background-image: url("/assets/img/beginners.jpg");
  }
  .mob-hero-navigate .experienced {
    background-image: url("/assets/img/experienced.jpg");
  }
  .mob-hero-navigate .under18 {
    background-image: url("/assets/img/under-18.jpg");
  }

  .price {
    width: min(90%, 2030px);
    min-width: initial;
  }
  .price .drop-arr {
    height: 25px;
    margin-left: auto;
    padding: 10px;
    transform: rotate(180deg);
    transition: 0.3s;
  }
  .price .drop-arr:focus {
    transform: rotate(90deg);
  }
  .price .dropdown-price {
    width: 100%;
    border: none;
    line-height: 25px;
  }
  .price .dropdown-price h4 {
    margin: auto 0;
  }
  .price-h3 {
    padding: 0;
  }
  .price-block {
    display: none;
    border-top: none;
    display: block;
  }
  .price-flex {
    display: block;
    justify-content: space-evenly;
  }
  .price-col {
    margin: auto 0;
    padding: 0 10px;
  }
  .price-col .price-info:first-of-type {
    margin-top: 10px;
  }
  .price-desc {
    max-width: 85%;
    text-align: center;
    line-height: initial;
  }
  .price .small-print {
    font-size: 10px;
    padding: 5px 0 10px;
  }
  .price-cost {
    width: 80%;
    margin: 0 auto;
  }
  .price-li {
    font-size: 16px;
    margin-left: 15%;
  }
  .price-row {
    margin: 0;
  }
  .price-row .price-h3 {
    text-align: center;
    font-size: 20px;
  }
  .price-row .price-info:first-of-type {
    margin-top: 10px;
  }
  .price .passes .price-cost {
    justify-content: space-between;
  }
  .price .member-title {
    padding: 5px 5px 0;
    font-size: 24px !important;
  }
  .price .member-type {
    padding-bottom: 10px;
  }
  .price .member .price-h3 {
    width: 80%;
    font-size: 20px;
  }

  .centre-details {
    display: block;
  }

  .contact-form {
    width: 100%;
    background: linear-gradient(177deg, #3183ff 91%, rgba(255, 217, 49, 0) 91.2%);
  }
  .contact-form-button {
    padding: 1vw 5vw;
    margin-bottom: 20px;
  }
  .contact .contact-details-email-address,
.contact .contact-details-phone-number {
    font-size: 16px;
  }
  .contact-details {
    padding: 7%;
  }
  .contact-details-address {
    margin: -20px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
