* {
  margin: 0;
}

body {
  max-width: 100%;
}

nav {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  background-image: url("/assets/img/shapes/nav-bg.svg");
  background-size: 102%;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -1vw;
  display: flex;
  z-index: 2;
  padding: 1vw 0 70px;
  justify-content: space-between;
}
nav .logo {
  margin-left: 4vw;
}
nav .logo img {
  width: 20vw;
}
nav .nav-links {
  display: flex;
  margin-right: 4vw;
}
nav .nav-links .search {
  display: flex;
  height: 2vw;
}
nav .nav-links .search input {
  background: none;
  background-color: #faf4ee;
  width: min-content;
  border: none;
  color: blue;
  font-size: 0.8vw;
  text-align: right;
  border-radius: 40px;
  padding-right: 20px;
}
nav .nav-links .search input:focus {
  outline: #115071 solid 5px;
}
nav .nav-links .search button {
  background-color: #faf4ee;
  padding: 0.1vw 0.5vw;
  margin: 0 1vw 0 0.4vw;
  border: none;
  border-radius: 50px;
}
nav .nav-links .search button img {
  height: 1.2vw;
  width: 1.2vw;
}
nav .nav-links .shop {
  margin-left: 30px;
}
nav .nav-links .shop img {
  width: 4vw;
}
nav .nav-links .capitan {
  margin-left: 50px;
}
nav .nav-links .capitan img {
  width: 2vw;
}
nav .nav-links .search,
nav .nav-links .shop,
nav .nav-links .capitan {
  margin-top: 0.5vw;
}

.hero {
  margin: 5vw 0 0 0;
  display: flex;
  position: relative;
  max-height: 40vw;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
}
.hero-navigate {
  background-image: linear-gradient(150deg, #e35039, #d02207);
  z-index: 1;
  padding: 5vw 0vw 5vw 8vw;
  margin-left: -3vw;
  min-width: 35vw;
  transform: skew(-5deg);
  outline: rgba(123, 16, 0, 0.585) 20px solid;
}
.hero-navigate a {
  width: min-content;
  display: block;
  color: #fae3df;
  text-decoration: none;
  font-family: lato, sans-serif;
  font-weight: 900;
  font-size: 4.5vw;
  white-space: nowrap;
  transform: skew(0deg, -6deg);
  line-height: 5.5vw;
  transition: 0.2s;
}
.hero-navigate a:hover {
  color: #31368a;
  font-size: 5vw;
  transition: 0.5s;
}
.hero-carousel {
  position: absolute;
  right: 0;
}
.hero-carousel .hero-photo {
  width: 65vw;
}

.other-activities {
  height: 15vw;
  max-width: 100%;
  display: flex;
}
.other-activities .yoga {
  background-image: url("/assets/img/yoga.jpeg");
}
.other-activities .parkour {
  background-image: url("/assets/img/parkour.jpeg");
}
.other-activities .secret-circus {
  background-image: url("/assets/img/secret-circus.jpeg");
}
.other-activities .crossfit {
  background-image: url("/assets/img/crossfit.jpeg");
}
.other-activities .martial-arts {
  background-image: url("/assets/img/martial-arts.jpeg");
}
.other-activities .coworking {
  background-image: url("/assets/img/coworking.jpeg");
}
.other-activities a {
  flex: 1;
  width: 20vw;
  min-width: 250px;
  max-width: calc(100vw/6);
  height: 15vw;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  box-shadow: inset 0 0 10px #5f5f5f;
  transition: 0.2s;
}
.other-activities a:hover {
  transition: 0.35s;
  background-size: 170%;
}
.other-activities h2 {
  transition: 0.2s;
  margin: auto;
  text-align: center;
  color: #fae3df;
  background-color: #318a668c;
  width: 100%;
  font: 800 1.5vw/15vw lato, sans-serif;
}
.other-activities h2:hover {
  transition: 0.5s;
  font-size: 1.8vw;
  background-color: #83850baa;
}

.prices {
  height: 2vw;
  background-color: #70C8F7;
}

/*# sourceMappingURL=style.css.map */
